#include "$HOME/.Xresources.d/fonts
#include "$HOME/.Xresources.d/
#include "$HOME/.Xresources.d/


!{{{ Font settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!}}}

*.foreground: #F8F8F2                   
*.background: #282A36

!! black dark/light           
*.color0: #000000       
*.color8: #4D4D4D  


!! red dark/light            
*.color1: #FF5555       
*.color9: #FF6E67
                
!! green dark/light   
*.color2: #50FA7B       
*.color10: #5AF78E          

!! yellow dark/light
*.color3: #F1FA8C           
*.color11: #F4F99D                  

!! blue dark/light
*.color4: #BD93F9               
*.color12: #CAA9FA                  

!! magenta dark/light
*.color5: #FF79C6                       
*.color13: #FF92D0                      

!! cyan dark/light
*.color6: #8BE9FD                           
*.color14: #9AEDFE                          

!! white dark/light
*.color7: #BFBFBF                               
*.color15: #E6E6E6
