* {
    background:                     #282a36ff;
    background-alt:                 #282a36ff;
    foreground:                     #f8f8f2;
    border:               	    #282a36ff;
    border-alt:               	    #282a36ff;
    selected:               	    #282a36ff;
    urgent:                         #ff5555;
}
