[Unit]
Description=Podman container-gitea-db.service

Wants=network.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
PIDFile=%t/container-gitea-db.pid
Type=forking

ExecStartPre=/bin/rm -f %t/container-gitea-db.pid %t/container-gitea-db.ctr-id

ExecStart=/usr/bin/podman container run \
          --conmon-pidfile %t/container-gitea-db.pid \
          --cidfile %t/container-gitea-db.ctr-id \
          --cgroups=no-conmon \
          --replace \
          --detach \
          --tty \
          --env MARIADB_RANDOM_ROOT_PASSWORD=yes \
          --env MARIADB_DATABASE=gitea \
          --env MARIADB_USER=gitea \
          --env MARIADB_PASSWORD=password \
          --volume gitea-db-volume:/var/lib/mysql/:Z \
          --label "io.containers.autoupdate=registry" \
          --network gitea-net \
          --name gitea-db \
          docker.io/library/mariadb:10

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-gitea-db.ctr-id -t 10

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-gitea-db.ctr-id

[Install]
WantedBy=multi-user.target default.target
